{% include 'header.html' %}
{% load static %}
<link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <h1 align="center" class="display-3 font-weight-bold p-3 text-danger" style="border-bottom: 4px solid orange">Audit Management System</h1>
        <br styles>
    </header>
    <div align="center" class="h4 py-3 font-weight-bold" style="background-color: white;">
        <p style="margin: 100px 300px;">The system is built on the Django framework, leveraging its capabilities to provide 
            a user-friendly interface and complex database structure for managing relational data.
            Display a historical record of all modifications made to employee or student data.
            Log all activities within the production environment for security and compliance purposes.
            Enable/disable auditing for specific features through a configuration-driven system.
            Administrators can choose which actions to audit, such as inquiries or updates.
        </p>
    </div>






    
</body>

